# {{ ansible_managed }}
[Unit]
Description=Run fabric-watchdog every {{ fabric_watchdog_interval }}

[Timer]
OnBootSec=90s
OnUnitActiveSec={{ fabric_watchdog_interval }}
RandomizedDelaySec=15s

[Install]
WantedBy=timers.target
