{{ _llm_campaign_run.argv | to_json
   | replace('{{ artifact_path }}', artifact_path)
   | replace('{{ benchmark_endpoint_root }}', benchmark_endpoint_root)
   | replace('{{ benchmark_endpoint }}', benchmark_endpoint)
   | replace('{{ model_id }}', model_id)
   | replace('{{ context_window_tokens }}', context_window_tokens | string)
   | replace('{{ context }}', context | string)
   | replace('{{ concurrency }}', concurrency | string)
   | replace('{{ repetition }}', repetition | string)
   | replace('{{ output_tokens }}', output_tokens | string)
   | replace('{{ result_dir }}', result_dir)
   | replace('{{ result_filename }}', result_filename)
   | replace('{{ result_path }}', result_path)
   | replace('{{ output_path }}', output_path)
   | from_json }}
